:root {
  --n: 15;
  --width: 1280;
  --height: 961;
  --rule: (
    :doodle {
      @grid: 15 / 640px 961px;
    }
    transition: transform .5s cubic-bezier(.175, .885, .32, 1.275);
    transition-delay: @rand(500ms);

    background-image: url(./img/ourPhoto.jpg);
    background-position: calc(((@x - 1) * (@var(--width)/2)/@var(--n) + (@var(--width)/2*@var(--part))) * -1 * 1px) calc((@y - 1) * @var(--height)/@var(--n) * -1 * 1px);
    background-size: calc(@var(--width) * 1px) calc(@var(--height) * 1px);
    background-repeat: no-repeat;
  );
  --firstPartVariables: (
    --part: 0;
    transform: translateX(calc(@var(--firstPartTransition) * 1px));
  );
  --secondPartVariables: (
    --part: 1;
    transform: translateX(calc(@var(--secondPartTransition) * 1px));
  );
}