@use '/app/assets/scss/mixins/flex.scss' as *;
@use '/app/assets/scss/bootstrapImport.scss' as *;

.header_nav {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(20px);
  margin-top: 20px;
  position: absolute;
  top: 100px;
  left: 0px;
  z-index: 1000;

  @include media-breakpoint-down(lg) {
    width: 90%;
    height: 450px;
    left: 50%;
    transform: translate(-50%, 0);
  }
  @include media-breakpoint-down(sm) {
    width: 80%;
    height: 400px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .nav-links {
		--link-height: 60px;
		position: relative;
		width: 100%;
    margin: 0;
    padding: 0;

    a {
      @include flex-center();
      position: relative;
			width: 100%;
			height: var(--link-height);
      cursor: pointer;
      text-transform: uppercase;
      font-size: 1.4rem;
      font-weight: 900;
      letter-spacing: 3px;
      text-decoration: none;
      user-select: none;
      color: #fff;
      
			&:hover {
        background: radial-gradient(
          rgba(0, 0, 0, 0.15) 0%,
          rgba(0, 0, 0, 0.45) 100%
        );
        color: #fff;
			}
    }

    li {
      list-style-type: none;
    }

    @include media-breakpoint-down(lg) {
      --link-height: 50px;
      a {
        font-size: 1.2rem;
      }
    }
    @include media-breakpoint-down(sm) {
      --link-height: 40px;
      a {
        font-size: 1rem;
      }
    }

  }
}