@use '/app/assets/scss/bootstrapImport.scss' as *;

.fullPageContainer {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.doodleContainer {
  --width: 1280;
  --height: 1109;
  animation: 2s cubic-bezier(0.55, 0.01, 0.58, 1) 0s 1 showHideElement;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%) scale(0.7);
  z-index: -1;
  width: calc(var(--width)*2 * 1px); 
  height: calc(var(--height)*2 * 1px);

  @include media-breakpoint-down(lg) {
    --width: 640;
    --height: 480.5;
  }
  @include media-breakpoint-down(sm) {
    --width: 426.6;
    --height: 320.3;
  }
}

@keyframes showHideElement {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
